/*area do login*/
.login {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.lform1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loginfp {
    text-align: center;
    font-size: 1.5em;

    font-family: "Quattrocento", serif;
    font-weight: 500;
    font-style: normal;
}

.ltitulo1 {
    margin-bottom: 25px;
    font-size: 2em;

    font-family: "Oswald", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
}

.email {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #3E362E;
}

.senha {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #3E362E;

    margin-bottom: 12px;
}

.botoes_login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.botoes_loginb {
    width: 100px;
    padding: 8px 15px;
    text-align: center;
    border: 2px solid #865D36;
    border-radius: 5px;
    color: #3E362E;

    font-family: "Quattrocento", serif;
    font-weight: 500;
    font-style: normal;
}

.botoes_logini {
    width: 100px;
    padding: 8px 15px;
    text-align: center;
    border: 2px solid #865D36;
    border-radius: 5px;

    background-color: #865D36;
    color: #ffffff !important;

    font-family: "Quattrocento", serif;
    font-weight: 500;
    font-style: normal;
}

/*area do registro*/
.registro {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.rform1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.registrofp {
    text-align: center;
    font-size: 1.5em;

    font-family: "Quattrocento", serif;
    font-weight: 500;
    font-style: normal;
}

.rtitulo1 {
    margin-bottom: 25px;
    font-size: 2em;

    font-family: "Oswald", serif; 
    font-optical-sizing: auto; 
    font-weight: 600; 
    font-style: normal; 
}

.botoes_registro {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.botoes_registrob {
    width: 100px;
    padding: 8px 15px;
    text-align: center;
    border: 2px solid #865D36;
    border-radius: 5px;
    color: #3E362E;

    font-family: "Quattrocento", serif;
    font-weight: 500;
    font-style: normal;
}

.botoes_registroi {
    width: 100px;
    padding: 8px 15px;
    text-align: center;
    border: 2px solid #865D36;
    border-radius: 5px;

    background-color: #865D36;
    color: #ffffff !important;

    font-family: "Quattrocento", serif;
    font-weight: 500;
    font-style: normal;
}

.label {
    color: #3E362E;

    font-family: "Quattrocento", serif;
    font-weight: 500;
    font-style: normal;
}

.input {
    border: 2px solid #865D36;
    padding: 4px 6px;
    border-radius: 5px;

    width: 220px;
    color: #3E362E;

    font-family: "Quattrocento", serif;
    font-weight: 500;
    font-style: normal;
}

.error {
    color: #3E362E;

    font-family: "Quattrocento", serif;
    font-weight: 500;
    font-style: normal;
}